@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Serif Pro', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: lightgrey;
}

#container {
  width: 300px;
  height: 350px;
  border: 2px solid darkslateblue;
  border-radius: 10px;
  padding: 0 15px 15px;
  background: slategrey;
}

h1{
  font-size: 24px;
  color: gainsboro;
  text-align: center;
  margin: 20px;
}

.num {
  color: salmon;
}

textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  background: gainsboro;
  padding: 10px;
  color: black;
}